<div><a href="/celebrities">Check out the celebrities</a>
</div>

<div>
<a href="/celebrities/new">Add a celebrity</a>
</div>
<div>
<a href="/movies">Check out the movies</a>
</div>
<div>
<a href="/movies/create">Add a movie</a>
</div>



